<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/menu_elastic.css" />
    <script src="js/snap.svg-min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
        @import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Viaoda+Libre&display=swap');



        .hr {
            height: 2px;
            margin: 60px 0 50px 0;
            background: rgba(151, 151, 153, 0.2);
        }

        .foot-lnk {
            text-align: center;
        }

        .modal .modal-popout-bg {

            background: rgba(61, 61, 63, 0.9);

        }

        .head {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
        }

        .update {
            margin-top: 25px;

        }

        .updates {
            margin-top: 25px;

        }

        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        .blog-slider {
            width: 95%;
            position: relative;
            max-width: 800px;
            margin: auto;
            background: rgb(250, 233, 233);
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            padding: 25px;
            border-radius: 25px;
            height: 400px;
            transition: all 0.3s;
            display: flex;
        }

        @media screen and (max-width: 992px) {
            .blog-slider {
                max-width: 680px;
                height: 400px;
            }
        }

        @media screen and (max-width: 768px) {
            .blog-slider {
                min-height: 500px;
                height: auto;
                margin: 180px auto;
            }
        }

        @media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider {
                height: 350px;
            }
        }

        .blog-slider__item {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 768px) {
            .blog-slider__item {
                flex-direction: column;
            }
        }

        .blog-slider__item.swiper-slide-active .blog-slider__img img {
            opacity: 1;
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>* {
            opacity: 1;
            transform: none;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
            transition-delay: 0.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
            transition-delay: 0.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
            transition-delay: 0.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
            transition-delay: 0.7s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
            transition-delay: 0.8s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
            transition-delay: 0.9s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
            transition-delay: 1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
            transition-delay: 1.1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
            transition-delay: 1.2s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
            transition-delay: 1.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
            transition-delay: 1.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
            transition-delay: 1.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
            transition-delay: 1.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
            transition-delay: 1.7s;
        }

        .blog-slider__img {
            width: 200px;
            flex-shrink: 0;
            height: 300px;
            background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
            box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
            border-radius: 20px;
            transform: translateX(-80px);
            overflow: hidden;
        }

        .blog-slider__img:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            opacity: 0.8;
        }

        .blog-slider__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            opacity: 0;
            border-radius: 20px;
            transition: all 0.3s;
        }

        @media screen and (max-width: 768px) {
            .blog-slider__img {
                transform: translateY(-50%);
                width: 90%;
            }
        }

        @media screen and (max-width: 576px) {
            .blog-slider__img {
                width: 95%;
            }
        }

        @media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider__img {
                height: 270px;
            }
        }

        .blog-slider__content {
            padding-right: 25px;
        }

        @media screen and (max-width: 768px) {
            .blog-slider__content {
                margin-top: -80px;
                text-align: center;
                padding: 0 30px;
            }
        }

        @media screen and (max-width: 576px) {
            .blog-slider__content {
                padding: 0;
            }
        }

        .blog-slider__content>* {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

        .blog-slider__code {
            color: #7b7992;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }

        .blog-slider__title {
            font-size: 24px;
            font-weight: 700;
            color: #0d0925;
            margin-bottom: 20px;
        }

        .blog-slider__text {
            color: #4e4a67;
            margin-bottom: 30px;
            line-height: 1.5em;
        }

        .blog-slider__button {
            display: inline-flex;
            background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
            padding: 15px 35px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
            text-decoration: none;
            font-weight: 500;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
        }

        @media screen and (max-width: 576px) {
            .blog-slider__button {
                width: 100%;
            }
        }

        .blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
        .blog-slider .swiper-pagination-custom,
        .blog-slider .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            left: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }

        @media screen and (max-width: 768px) {
            .blog-slider__pagination {
                transform: translateX(-50%);
                left: 50% !important;
                top: 205px;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0;
        }

        @media screen and (max-width: 768px) {
            .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 5px;
            }
        }

        .blog-slider__pagination .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            display: block;
            border-radius: 10px;
            background: #062744;
            opacity: 0.2;
            transition: all 0.3s;
        }

        .blog-slider__pagination .swiper-pagination-bullet-active {
            opacity: 1;
            background: #fd3838;
            height: 30px;
            box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
        }

        @media screen and (max-width: 768px) {
            .blog-slider__pagination .swiper-pagination-bullet-active {
                height: 11px;
                width: 30px;
            }
        }




        .modal {
            background-color: rgba(0, 0, 0, .0001) !important;
        }

        .container {
            max-width: 1000px;
            margin: 10px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            position: relative;
            margin: 20px 0;
            width: 300px;
            height: 420px;
            background: #fff;
            transform-style: preserve-3d;
            transform: perspective(2000px);
            box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 20px rgba(0, 0, 0, .5);
            transition: 1s;
        }

        .card:hover {
            z-index: 10000;
            transform: perspective(2000px) rotate(-10deg);
            box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
        }

        .card .Box {
            position: relative;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
            position: relative;
            transform-origin: left;
            z-index: 1;
            transition: 1s cubic-bezier(.15, 1.7, .84, .58);
            background: #111;
        }

        .card .Box img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card:hover .Box {
            transform: rotateY(-135deg);
        }

        .card .details {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            padding: 20px;
            z-index: -1;
        }

        .youmay {

            display: inline-flex;
            background-image: linear-gradient(147deg, #f0a671 0%, #7c7979 74%);
            padding: 10px 15px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
            text-decoration: none;
            font-weight: 500;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
            margin-left: 50%;
        }

        .verticalLine {
            border-left: thin solid rgb(131, 127, 127);
            height: 100%;
            margin-left: 50%;
        }

        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            font-family: 'Times New Roman', Times, serif;
            background-size: cover;
            background-image: url(https://images6.alphacoders.com/438/438430.jpg);

        }



        .carousel {
            position: relative;
            max-width: 1300px;
            margin: 20px auto;
            padding: 10px;
            background: transparent;
            box-sizing: border-box;
            border-radius: 4px;
        }

        .box-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px 30px;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            width: 200px;
            height: 400px;
            text-align: center;
            /* background-color: #3d3c3c; */
            background: rgb(167, 197, 111);
            box-shadow: 2px 2px 20px rgba(1, 141, 83, 0.507);
            padding: 20px;
            border-radius: 10px;
            margin: 20px;
            position: relative;
            flex-grow: 1;
        }

        .box img {
            height: 90px;
            margin: 10px;
        }

        .box font {
            font-size: 1.5rem;
            color: #0a6116;
            letter-spacing: 1px;
            font-weight: 700;
        }

        .box p {
            font-size: 1rem;
            color: #0a6116;
            display: block;
            font-weight: 600;
            overflow: hidden;
            max-width: 500px;
            text-overflow: ellipsis;
            letter-spacing: 0.5px;

        }

        .box a {
            width: 150px;
            height: 40px;
            align-items: center;
            justify-content: center;
            display: flex;
            border: 2px solid #10003d;
            text-transform: uppercase;
            margin: auto;
            border-radius: 5px;
            font-weight: 600;
            font-size: 0.9rem;
            color: #10003d;
            margin: 0px;
        }

        .box a:hover {
            background-color: #0a6116;
            color: #ffffff;
            transition: all ease 0.3s;
            box-shadow: 2px 2px 20px rgba(27, 1, 141, 0.507);
        }

        /* .container-fluid {
            max-width: 1000px;
            margin: 10px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        } */

        .carousel-caption h3 {
            font-size: 50px;
            /* color: rgba(245, 70, 193, 0.856); */
            -webkit-text-stroke: 1px rgb(71, 2, 92);
            font-family: 'Koh Santepheap', cursive;
            background: -webkit-linear-gradient(rgb(72, 255, 0), rgb(94, 255, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .carousel-item img {
            backdrop-filter: 10px;
        }
    </style>

</head>


<body>
    <%- include('./includes/header.ejs'); %>

        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://brazenwoman.com/wp-content/uploads/2016/08/10-Must-Read-Books-for-and-by-Women-1920x500.jpg"
                        class="d-block w-200" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="head">Reading is dreaming with open eyes.</h3>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://mothergeek-wp.s3.eu-west-2.amazonaws.com/wp-content/uploads/2018/07/17172433/q4-1920x500.jpg"
                        class="d-block w-200" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="head">A library is where ideas sleep between covers, waiting for you to discover
                            them.</h3>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://honors.kennesaw.edu/greatbooks/images/greatbooks-header.jpg" class="d-block w-200"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="head">Library is the hospital for the mind.</h3>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container">
            <div class="row mt-5">
                <h1 class="col-12 mb-4 "><span class="text-danger">Tren</span>ding</h1>
                <hr>
            </div>


            <div class="blog-slider mt-4">

                <div class="blog-slider__wrp swiper-wrapper">
                    <% for(let data of booklist.trend) { %>
                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="<%- data.book_cover%>" alt="">
                            </div>

                            <div class="blog-slider__content">
                                <div class="blog-slider__title">
                                    <h1>
                                        <%- data.book_name %>
                                    </h1>
                                </div>

                                <div class="blog-slider__text">
                                    <%- data.book_about %>
                                </div>



                                <a href="/book/<%= data.book_id %>" class="blog-slider__button"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-book my-1 mx-1" viewBox="0 0 16 16">
                                        <path
                                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                    </svg>Read</a>
                                <a href="/library" class="blog-slider__button mx-4"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus-circle my-1 mx-1" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>Add</a>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="blog-slider__pagination"></div>

            </div>


        </div>


        <div class="container">
            <div class="row mt-5 ">
                <h1 class="col-12 "><span class="text-danger">Newly</span> Added..</h1>
                <hr>
            </div>

            <div class="container">
                <!-- <div class="row"> -->
                <% for(let data of booklist.newadded) { %>
                    <div class="card">
                        <div class="Box">
                            <img src="/<%- data.book_cover %>">
                        </div>
                        <div class="details">
                            <h2>
                                <%- data.book_name%>
                            </h2>
                            <p>
                                <%- data.book_about%>


                                    <a href="/book/<%=data.book_id%>" class="youmay my-4 mx-5" method="POST"
                                        action="/index"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-book my-1 mx-1" viewBox="0 0 16 16">
                                            <path
                                                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                        </svg>Read</a>

                            </p>
                        </div>
                    </div>
                    <!-- </div> -->
                    <% } %>
            </div>

        </div>

        <div class="container">
            <hr>
        </div>

        <section class="about" id="about">

            <div class="box-container">
                <div class="box">
                    <img
                        src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-260nw-299085131.jpg">
                    <font>Abouts</font>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eveniet magnam, reiciendis
                        dolores
                        est exercitationem nihil dicta! Ipsam.</p>
                    <a href="/about#aboutUs">Read More</a>
                </div>

                <div class="box">
                    <img
                        src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-260nw-299085131.jpg">
                    <font>Contact</font>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error veritatis adipisci corrupti
                        reiciendis maiores corporis dignissimos deserunt aliquam!</p>
                    <a href="/contact">Read More</a>
                </div>

                <div class="box">
                    <img
                        src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-260nw-299085131.jpg">
                    <font>Services</font>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque error unde dignissimos facilis,
                        beatae doloribus tempore delectus repudiandae!</p>
                    <a href="/about#services">Read More</a>
                </div>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
            </script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>



        <script>
            var swiper = new Swiper('.blog-slider', {
                spaceBetween: 30,
                effect: 'fade',
                loop: true,
                mousewheel: {
                    invert: false,
                },
                // autoHeight: true,
                pagination: {
                    el: '.blog-slider__pagination',
                    clickable: true,
                }
            });
        </script>
        <%- include('./includes/footer.ejs'); %>


</body>

</html>